<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.cloudflare.cloudflared.daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/homebrew/bin/cloudflared</string>
		<string>tunnel</string>
		<string>run</string>
		<string>--token</string>
		<string>eyJhIjoiMTkyZjA3ZWY5Nzc2NGY2MmViNzZiZTJkODQ1MDhkOWUiLCJ0IjoiMWQ1ZTA1ZTItNjkwYy00ZjdiLWJkYmYtNDI2NmYxMDkxNmM2IiwicyI6Ik9ERmlZV0ZrT0dJdE1qSmhPQzAwWmpGaUxUa3daR0V0TlRnek16VXhOakV6TURrNCJ9</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>StandardOutPath</key>
	<string>/Library/Logs/com.cloudflare.cloudflared.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/com.cloudflare.cloudflared.err.log</string>
</dict>
</plist>
